{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">{% block title %} URL Shortening {% endblock %}</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="{{url_for('get_short_URL')}}">
            <div class="form-floating mb-3">
                <input type="text" name="url" id="url"
                    placeholder="https://example.com" class="form-control"
                    value="{{ request.form['url'] }}" required></input>
                <label for="url">URL</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="search_id" id="search_id"
                    placeholder="search term" class="form-control"
                    value="{{ request.form['search_id'] }}"></input>
                <label for="custom_id">Search item</label>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary">get short URL</button>
            </div>
            </form>

            <div>
                {% if short_url %}
                    <hr>
                    <span>
                        <p style='color:green'>Short URL:
                            <a href="{{ url_for('redirect_to_url', 
                            short_url = short_url, _external = True) }}" 
                            target="_blank">{{ url_for('redirect_to_url', 
                            short_url = short_url, _external = True) }}</a>
                        </p>
        
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}